<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovp.mapper.UserMapper">

    <insert id="insertUser">
        insert into user (username, password, email, avatar_url, age, phone, status, role, nickname, gender, bio, create_time, update_time,address,birthday)
        values (#{username},#{password},#{email},#{avatarUrl},#{age},#{phone},#{status},#{role},#{nickname},#{gender},#{bio},#{createTime},#{updateTime},#{address},#{birthday})
    </insert>
    <update id="updateByUserId" parameterType="com.ovp.entity.User">
        update user
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="email != null">email = #{email},</if>
            <if test="avatarUrl != null">avatar_url = #{avatarUrl},</if>
            <if test="address != null">address = #{address},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="age != null">age = #{age},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="bio != null">bio = #{bio},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>
    <select id="querySortedUserListByNickname" resultType="com.ovp.vo.UserQueryVO">
        select user.*,count(*) as fansCount from user,follow
        <where>
            user.id = follow.followee_id
            <if test="nickname != null">
                and user.nickname like concat('%', #{nickname}, '%')
            </if>
            <if test="followerId != null">
                and follow.follower_id = #{followerId}
            </if>
        </where>
        group by user.id
        order by ${sortBy} ${sortOrder}
    </select>
</mapper>
